<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="hospital_project.Properties.Settings.system_project_ConnectionString" connectionString="Data Source=FELO\SQLEXPRESS;Initial Catalog='system&quot;project&quot;';Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>